@import '../../../variables.scss';

.navbar {
	padding: 0 16px;
	height: $header-height;
	color: $white;
	font-weight: 500;
	font-size: 1rem;
	display: flex;
	align-items: center;

	.brand {
		display: inline-flex;
		align-items: center;

		.mat-icon {
			margin-right: 12px;
		}
	}

	.actions{
		display: flex;
		gap: 16px;
		.action{
			list-style: none;
			display: inline-flex;
			align-items: center;
		}
	}

	.counter{
		margin-left: auto;
	}
}
