<div class="navbar">
	<div class="brand">
		<mat-icon>psychology</mat-icon>
		Memo
	</div>
	<ul class="actions">
		<li class="action">
			<app-select label="Cards" [options]="cardsNumberOptions" (selectChanged)="onSelectChange($event)"></app-select>
		</li>
		<li class="action">
			<button mat-icon-button (click)="onRefresh()">
				<mat-icon>refresh</mat-icon>
			</button>
		</li>
	</ul>
	<div class="counter">
		<span *ngIf="clicksNumber > 0">{{ clicksNumber }} steps</span>
	</div>
</div>
