<div class="icon-container" (click)="onCardClick()">
	<ng-container *ngIf="card.visible || card.hasPair">
		<mat-icon class="icon-display">
		  {{ card.name }}
	  </mat-icon>
	  <!-- <span class="icon-name">{{ card.name }}</span> -->
	</ng-container>
</div>
