@import '../../../variables.scss';

.icon-container {
	background-color: $orange;
	box-shadow: 2px 2px 1px 1px $ocher;
	color: $dark;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	cursor: pointer;

	.icon-name {
		font-size: 0.7rem;
		width: 5vw;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
	}

	.icon-display {
		transform: scale(2);
	}
}
