
<div class="wrapper">
	<div class="header-container">
		<app-header
			(cardsNumberChanged)="onCardsNumberChanged($event)"
			(refresh)="onRefresh()"
			[clicksNumber]="clicksNumber">
		</app-header>
	</div>
	<div class="app-container">
		<div class="icon-table" [ngClass]="'cards-' + cardsNumber">
			<ng-container *ngFor="let card of iconCards | keyvalue">
				<app-icon-card
				[iconCard]="card.value"
				(cardClick)="onCardClick($event)">
				</app-icon-card>
			</ng-container>
		</div>
		<div class="fireworks" *ngIf="control !== 0 && cardsNumber - control === 0">
			<div class="congrat">
				<span class="title">
					Congratulation!
				</span>
				<span class="message">
					You win!
				</span>
			</div>
		</div>
	</div>
</div>

